{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'superhero/superhero_detail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>{{ hero.name }} - Detail</title>
</head>
<body>
    
    <!-- Navbar -->
    {% include 'includes/nav.html' %}
   
    <main>
        <div class="superhero-container">
            <div class="superhero-detail">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="modify">MODIFY</button>
                    <button type="submit" name="delete">DELETE</button>
                </form>
            </div>

            <div class="relations">
                <div class="button-group">
                    <button onclick="showParents()">Show parents</button>
                    <button onclick="showChildren()">Show children</button>
                </div>
                <div id="parent-tree" style="display:none;">
                    <ul>
                        {% if hero.parent %}
                            <li>{{ hero.parent.name }}</li>
                            {% if hero.parent.parent %}
                                <ul>
                                    {% with hero=hero.parent %}
                                        {% include "superhero/relations_parents.html" %}
                                    {% endwith %}
                                </ul>
                            {% endif %}
                        {% else %}
                            <li>No parent</li>
                        {% endif %}
                    </ul>
                </div>
                <div id="children-tree" style="display:none;">
                    <ul>
                        {% for child in children %}
                            {% with seen=seen %}
                                {% include "superhero/relations_children.html" %}
                            {% endwith %}
                        {% endfor %}
                    </ul>                         
                </div>
            </div>
        </div>
    </main>
    <script>
        function showParents() {
            document.getElementById("parent-tree").style.display = "block";
            document.getElementById("children-tree").style.display = "none";
        }
    
        function showChildren() {
            document.getElementById("parent-tree").style.display = "none";
            document.getElementById("children-tree").style.display = "block";
        }
    </script>    
</body>
</html>
