{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'assets/super.ico' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'superhero/superhero_detail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>{{ hero.name }} - Detail</title>
</head>
<body>
    
    <!-- Navbar -->
    {% include 'includes/nav.html' %}
   
    <main>
        <div class="superhero-container">
            <div class="superhero-detail">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="modify">MODIFY</button>
                    <button type="submit" name="delete">DELETE</button>
                </form>
            </div>

            <div class="relations">
                <div class="button-group">
                    <button id="show-parents-btn" onclick="toggleDisplay('parents')">Show parents</button>
                    <button id="show-children-btn" onclick="toggleDisplay('children')">Show children</button>
                </div>

                <!-- Arbre des parents -->
                <div id="parent-tree" style="display:block;">
                    {% if parents %}
                        <ul class="tree">
                            {% for parent in parents %}
                            <li>{{ parent.name }}</li>
                            {% endfor %}
                            <li class="current-hero">{{ hero.name }}</li>
                        </ul>
                    {% else %}
                        <p>No parent</p>
                    {% endif %}
                </div>

                <!-- Arbre des enfants -->
                <div id="children-tree" style="display:none;">
                    {% if hero.children.all %}
                        <ul class="tree">  
                            <li class="current-hero">{{ hero.name }}</li>
                            <li>
                                {% include 'superhero/children.html' with children=hero.children.all %}
                            </li>
                        </ul>
                    {% else %}
                        <p>No children</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>

    <script>
        function toggleDisplay(type) {
            const parentTree = document.getElementById('parent-tree');
            const childrenTree = document.getElementById('children-tree');

            if (type === 'parents') {
                parentTree.style.display = 'block';
                childrenTree.style.display = 'none';
            } else {
                parentTree.style.display = 'none';
                childrenTree.style.display = 'block';
            }
        }

        // Script pour l'indentation 
        document.addEventListener("DOMContentLoaded", function() {
            // éléments li dans les arbres généalogiques
            const parentItems = document.querySelectorAll("#parent-tree .tree li");
            const childItems = document.querySelectorAll("#children-tree .tree li");
            
            // indentation pour les parents
            parentItems.forEach(function(item, index) {
                item.style.marginLeft = (index * 10) + 'px'; 
            });
            
            // indentation pour les enfants
            childItems.forEach(function(item, index) {
                item.style.marginLeft = (index * 10) + 'px';
            });
        });
    </script>
</body>
</html>
