{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}">
    <link rel="stylesheet" href="{% static 'authuser/home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Super Family Tree - Home</title>    
</head>
<body>

    <!-- Navbar -->
    {% include 'includes/nav.html' %}

    <!-- Grille des super-héros -->
    <main>
        <div class="intro">
            <h1>Welcome on the super's family tree</h1>
            <p>Here you'll find a great list of supers, and their parent/child relation</p>
            <p>You can modify their caracteristics and even delete them</p>
        </div>
        <section class="heroes-grid">
            {% for hero in heroes %}
                <div class="hero-card">
                    <img src="{% static 'assets/' %}{{ hero.image }}" alt="{{ hero.name }}">
                    <a href="{% url 'superhero_detail' hero.id %}"><h3>{{ hero.name }}</h3></a>
                    <p> {{ hero.description }}</p>
                    <p><strong>skills:</strong></p>
                    <ul>
                        <li>{{ hero.skill1 }}</li>
                        {% if hero.skill2 %}
                            <li>{{ hero.skill2 }}</li>
                        {% endif %}
                        {% if hero.skill3 %}
                            <li>{{ hero.skill3 }}</li>
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}
            <!-- Bouton Ajouter un super -->
            <div class="hero-card add-super">
                <a href="{% url 'add_superhero' %}">
                    <i class="fab fa-superpowers"></i>
                    <span>Add a Super</span>
                </a>
            </div>
        </section>

        <!-- Pagination -->
        <div class="pagination">
            <span class="step-links">
                {% if heroes.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ heroes.previous_page_number }}">previous</a>
                {% endif %}
    
                <span class="current">
                    Page {{ heroes.number }} of {{ heroes.paginator.num_pages }}.
                </span>
    
                {% if heroes.has_next %}
                    <a href="?page={{ heroes.next_page_number }}">next</a>
                    <a href="?page={{ heroes.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>    
    </main>

</body>
</html>
