{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'authuser/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>

<div class="login-container">
    <img src="{% static 'assets/logo-super.png' %}" alt="Logo"> 
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} <!-- Rendre le formulaire avec les balises par défaut -->
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <div class="form-group-3">
            <button type="submit">LOGIN</button>
        </div>
    </form>
    <div class="signup-link">
        <a href="{% url 'signup' %}">Create an account</a>
    </div>
</div>

</body>
</html>
