{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to your account</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>

<div class="login-container">
    <img src="{% static 'assets/logo-super.png' %}" alt="Logo"> 
    <h2>Enter the Super's Family Tree !</h2>

    {% if error %}
        <div class="form-errors">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <button type="submit">LOGIN</button>
        </div>
    </form>
    <div class="signup-link">
        <a href="{% url 'signup' %}">Create an account</a>
    </div>
</div>

</body>
</html>
