<!-- Navbar -->
{% load static %}
<header>
    <nav>
        <div class="nav-logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'assets/logo-super.png' %}" alt="Logo">
            </a>
        </div>
        <div class="nav-search">
            <form action="{% url 'search_hero' %}" method="get">
                <input type="text" name="q" placeholder="Search">
                <button type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <div class="nav-user">
            <span>Welcome {{ user.first_name}} </span>
            <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            </form>
        </div>
    </nav>
</header>