@import url('https://fonts.cdnfonts.com/css/comics');

body, button, h2 {
    font-family: 'Comics', sans-serif;
    font-style: italic;
}

a {
    color: #E20025; 
    text-decoration: underline; 
    cursor: pointer; 
}

/* Liens visités */
a:visited {
    color: #C0C0C0; 
    text-decoration: none; 
}

/* Au survol */
a:hover {
    cursor: pointer; /* Main standard au survol */
}
