.intro {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Grid des super-héros */
.heroes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.hero-card {
    background-color: #FFFFFF;
    border: 2px solid #0060AA;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.hero-card:hover {
    transform: scale(1.05);
}

.hero-card img {
    height: 100px;
    width: 100px;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #FFBD00;
    margin-bottom: 10px;
}

.hero-card h3 {
    color: #E20025;
    font-size: 18px;
    margin-bottom: 10px;
}

.hero-card p {
    color: #010101;
    margin: 5px 0;
}

.hero-card ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 10px;
    text-align: left;
}

/* Style du bouton "Add a Super" */
.hero-card.add-super {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #0060AA;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #FFED10;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 auto;
}

.hero-card.add-super i {
    font-size: 40px;
    color: #0060AA;
    margin-bottom: 5px;
}

.hero-card.add-super span {
    color: #E20025;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin-top: 5px;
}

.hero-card.add-super:hover {
    background-color: #D4BC08;
}

/* Pagination */
.pagination {
    text-align: center;
    padding: 20px 0;
    font-style: italic;
}

.pagination a {
    text-decoration: none;
    color: #E20025;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #C0C0C0;
    border-radius: 15px;
    font-weight: bold;
}

.pagination a.active {
    background-color: #0060AA;
    color: white;
    border: 1px solid #0060AA;
}

.pagination a:hover {
    cursor: pointer;
    background-color: #E20025;
    color: #FFFFFF;
}
