/* Style global pour le body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Conteneur principal de login */
.login-container {
    background-color: #ffffff;
    border: 2px solid #0060AA;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: auto;
}

/* Style pour le logo */
.login-container img {
    width: 100px;
    height: 100px;
    margin-top: -80px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid #0060AA;
}

/* Style pour le titre */
.login-container h2 {
    margin-bottom: 20px;
    color: #0060AA;
}

/* Style pour chaque champ du formulaire */
.login-container p {
    margin-bottom: 20px;
}

/* Style pour les labels */
.login-container p label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #010101;
}

/* Style pour les inputs */
.login-container p input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #0060AA;
    background-color: #FFFFFF;
    color: #010101;
    font-size: 14px;
    box-sizing: border-box;
}

/* Focus sur les inputs */
.login-container p input:focus {
    outline: none;
    border-color: #004080;
}

/* Style pour le bouton de soumission */
.login-container .form-group button {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    background-color: #0060AA;
    color: #FFFFFF;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.login-container .form-group button:hover {
    background-color: #004080;
}

/* Style pour les liens de l'inscription */
.signup-link {
    margin-top: 10px;
}

.signup-link a {
    color: #0060AA;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Erreurs dans le formulaire  */

.form-errors {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}