body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border: 2px solid #0060AA;
    border-radius: 15px;
    padding: 30px;
    width: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.container img {
    width: 100px;
    height: 100px;
    margin-top: -80px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid #0060AA;
}

h2 {
    margin-bottom: 20px;
    color: #0060AA;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #010101;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #0060AA;
    background-color: #FFFFFF;
    color: #010101;
    font-size: 14px;
    box-sizing: border-box;
}


.form-group button {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    background-color: #0060AA;
    color: #FFFFFF;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.form-group button:hover {
    background-color: #004080;
}
