body {
    color: #010101;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    border: 2px solid #0060AA;
    border-radius: 15px;
    padding: 20px;
    margin : 80px 0 40px 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    width: 100px;
    height: 100px;
    margin-top: -70px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 2px solid #0060AA;
    background-color: #FFFFFF;
}

.container h2 {
    color: #010101;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
    font-style: italic;
}

.container .form-group {
    margin-bottom: 20px;
}

.container .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #0060AA;
    background-color: #FFFFFF;
    color: #010101;
    font-size: 14px;
    box-sizing: border-box;
}

.container .form-group input:focus {
    outline: none;
    border-color: #004080;
}

.container .form-group button {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    background-color: #0060AA;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-style: italic;
}

.container .form-group button:hover {
    background-color: #004080;
}

.signup-link {
    margin-top: 20px;
}

.signup-link a {
    color: #E20025;
    text-decoration: underline;
    font-style: italic;
}


